body{
    background-color: #CCCCCC;
    color: black;
    font-family: Arial;
  }

  a {
    color: #009900;
    text-decoration: none;
  }

  .corpo {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    position: relative;
  }

  .titulo{
    background-color: #EEEEEE;
    padding: 20px;
    font-size: 14px;
    text-align: left;
  }
   
  h1 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .conteudo{
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
  }

  .descricao {
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0 20px;
  }

  .menu {
    display: flex;
    flex-flow: row nowrap;
  }

  .botao {
    padding: 10px;
    margin-right: 10px;
    height: 20px;
    background-color: #EEEEEE;
    font-weight: bold;
  }

  .botao:hover {
    padding: 10px;
    margin-right: 10px;
    height: 20px;
    background-color: #00CC0010;
    font-weight: bold;
  }

  .inativo {
    color: #00CC0020;
  }

  .inativo:hover {
    background-color: #EEEEEE;
  }
